#navigation {
    color: #F2DCE8;
    list-style-type: none;
    font-size: 16px;
    background-color: #AE5889;
    position: fixed; 
    
    }
body {
    background-color: #892E61;
    color: #F2DCE8;
    font-family: Arial, sans-serif;
}
.navtabs {
    display: inline-block;
    margin: 30px;
    color: #F2DCE8;
    font-family: Helvetica, sans-serif;
    font-size: 25px;
    
}
.navtabs a:hover {
    background-color: #E1B4CD;
}
#mypic {
    width: 300px;
    height: 300px;
    vertical-align: text-bottom;
    top: 50px;
    left: 450px;
    border-radius: 200px;
    text-align: center;
}
#picdiv {
    padding-top: 250px;
}

#welcome { 
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    font-size: 64px;
}
