@import url('https://fonts.googleapis.com/css?family=Galada');
@import url('https://fonts.googleapis.com/css?family=Lora');
@import url('https://fonts.googleapis.com/css?family=Oswald');

.App {
  background-color: #F7F4F3;
  height: 800px;
}

a {
  color: #474747;
  font-family: "Oswald";
  font-size: 96px;
  text-decoration: none;

}

.initial-navigation {
  display: flex;
  flex-direction: column;
  margin-left: 450px;
  padding-top: 225px;
}
